<!DOCTYPE html>
<html>
  <head>
    <style>
     h3{
  color: lightgreen;
}
    </style>
  </head>
</html>
<body>

<div class="container" >
  <h3><b><u>About</u></b></h3>
  <h5>Todo Title</h5>
  <p>Here you've to add the Title for the task you want to do</p>
  <h5>Description</h5>
  <p>Details of that task are entered</p>
  <h6>Add</h6>
  <p>By clicking on Add , you can save the task and it's details</p>
  <h5>Your Todos</h5>
  <p>Here the deatils of the task/tasks are shown which you've added</p>
  <h6>Done</h6>
  <p>After completing the task , when you click on done it'll strike the task and it's details making a clear intimatipon of the task has completed</p>
  <h5>Delete</h5>
  <p>You can delete the task at any moment simply by clicking on delete</p>
</div>
</body>
